<!-- <%= form_with(model: @post , local: true) do |form| %>
  <% if @post.errors.any? %>
   <div id="error_explanation">
       <h2><%= @post.errors.count %>件のエラーがあります。</h2>
       <ul>
       <% @post.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>



    <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit :post! %>
<% end %>

<%= link_to '投稿一覧画面に戻る', posts_path %> -->
<body>
  <header class="header">
    <img src="/assets/logo.jpg" alt="" class="logo_image">
    <nav>
     <ul class="top_menu clearfix">
       <!-- <li><a href="http://localhost:3000/posts/new">新しく投稿する</a></li> -->
       <li><a href="http://localhost:3000/posts/">投稿一覧へ戻る</a></li>
    </nav>
  </header>

  <aside class="side_menu">
  <h1>新規投稿しよう！</h1>
  </aside>

 <article class="content">
   <%= render 'form' %>
  </article>


  <footer class="footer">
   <p>Copyright © 2021 Chatter INC All RIGHTS RESERVED.</p>
  </footer>
</body>


</html>
